* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Barra {

    background-color: #0086F2;
    color: white;

}

.barraone ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
    font: none;
    color: white;
    
}

.barraone a {
color: white;
}

.barraone a {
    text-decoration: none;
    color: white;
}

.search-container {
    display: flex;
    justify-content: center;
}
.search-container {
    padding: 8px 10px;
    outline: none

}

.input1 {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.button1 {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.button1:hover {
    background-color: #003d80;
}


   
.dropdown li {
     position: relative;
    display: inline-block;
}



.dropdown:hover ul {
    display: block;
  
    
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: aliceblue;

}


.dropdown ul li {
    display: block;
}

.dropdown ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}




.dropdowntwo ul {
display: none;
background-color: aliceblue;
}


.dropdowntwo ul li {
   display: block;
   padding: 10px;
   color: black;
}

.dropdowntwo:hover ul {
    display: block;
    position: absolute;
}
.dropdowntwo ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    background-color: aliceblue;
}

.img-perro {
    width: 50px;
    height: 50px;
    
}
.img-huella {
    width: 50px;
    height: 50px;
    
}   
.img-gato {
    width: 50px;
    height: 50px;
}

.ganado {
    width: 50px;
    height: 50px;               
}

.dropdownthree ul {
    display: none;
    
}   

.dropdownthree:hover ul {
    display: block;
    position: absolute;
}

.dropdownthree ul li {
    display: block;
    padding: 10px;
    color: black;
    background-color: aliceblue;
}
.dropdownthree ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}

.img-iniciar-sesion {
    width: 80px;
    height: 80px;
    border-right: 20px;
}

.img-carrito {
    width: 80px;
    height: 80px;
    border-right: 20px;
    margin-right: 50px;
}

.img-huella {
    margin-left: 20px;
    margin-bottom: 80px;
}

.Titulo {
    padding-right: 20px;
    font-family: cursive; 
}