.titulo2 { 
    display: flex;
    justify-content: center;
    color: #49944B;
    font: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}



.producto {
    display: flex;
     justify-content: space-around;
    
    
}


.producto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.producto button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #49944B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 5px;
}

@media (max-width: 768px) {
    .producto {
        flex-direction: column;
        align-items: center;
    }
    
    .producto img {
        width: 100%;
        height: auto;
    }
}

.producto button:hover {
    background-color: #3e7a3b;
}


@media (max-width: 768px) {
    .producto1, .producto2, .producto3 {
        width: 80%;
        margin-bottom: 40px auto ;
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;

    }

}
.producto button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;

}
.producto img {
    width: 100%;
    height: 300px;

}
