h3 {
    
    margin-top: 60px;
    color: #49944B;
    padding-top: 20px;
    margin-bottom: 40px;
    
}

.selectoresmain {
    display: flex;
}


.pet1 {
    width: 50px;
    height: 50px;
}

img {
    width: 50px;
    height: 50px;
}

.selectoresmain div {
 padding-right: 40px;
}

.form1 {

padding-top: 20px;
display: flex;
flex-direction: column;
margin-bottom: 40px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #49944B;
}
.form1 button {
    width: 100px;
    height: 30px;
    background-color: #49944B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px   ;
}

@media (max-width: 768px) {
    .selectoresmain {
        flex-direction: column;
        align-items: center;
    }

    .selectoresmain div {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .form1 {
       align-items: center;
    }   
}
