.carrusel {
    max-width: 45%;
    width: 45%;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}


.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active {
    opacity: 1;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carruselmain {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carruselmain {
    gap: 20px;
   
    padding-bottom: 100px;
}
.carruselmain {
    background-image: url("imagenes/hUESOS.png");
    background-repeat: repeat;
    background-size: auto;
    padding-top: 80/*  */px;
}




@media (max-width: 768px) {
    .barraone ul {
        flex-direction: column;
    }
}


.carruselmain img {
    border-radius: 5px;
}



.parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 
    max-width: 45%;
    width: 45%;
    padding: 20px;
    
}

.carruselmain {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.parrafo  {
   width: 100%;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
    z-index: 10;
    color: #49944B ;
    
}


.parrafo h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-size: 25px;
    padding-bottom: 80px;
}
@media (max-width: 768px) {
    .parrafo {
        top: 100px;
        max-width: 100%;
        width: 100%;
        z-index: 10;
    }

    .carruselmain {
        flex-direction: column;
    }   
}
